# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
Env/
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.envrc

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static & media
staticfiles/
media/

# Build / packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Temporary files
tempCodeRunnerFile.py

# Ruff
.ruff_cache/